[Unit]
Description=E-Paper
After=network.target

[Service]
WorkingDirectory=/home/arkadip/e_paper
ExecStart=/home/arkadip/e_paper/.venv/bin/python -m main
Restart=on-failure
RestartSec=5
User=arkadip

[Install]
WantedBy=multi-user.target
